<div class="row">
  <% for entry in @entry %>
    <div class="col-3">
      <h4><%= post["title"] %></h4>
      <p><%= post["occured_on"] %></p>
      <p><%= post["description"] %></p>
    </div>
  <% end %>
</div>